<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form method="POST" action="/signup">
        <div class="Profile">
            <input type="text" placeholder="Enter your name" class="name" name="name">
            <br> <br>
            <input type="number" placeholder="Enter your age" class="age" name="age">
            <br> <br>
            <input type="text" placeholder="Enter your occupation" class="occupation" name="occupation">
            <br> <br>
            <input type="text" placeholder="Enter your Username" class="Login-user" name="username">
            <br> <br>
            <input type="password" placeholder="Enter your Password" class="Password" name="password">
            <br> <br>
                <button class="Submit-button">Submit</button>
        </div>
    </form>
</body>
</html>